<header class="hero-section">
  <div class="hero-content">
    <h1>Hello vợ yêu xinh đẹp dễ thương nhất của anh</h1>
    <div class="gallery">
      <img src="assets/image/img1.jpeg" alt="" />
      <img src="assets/image/img2.jpg" alt="" />
      <img src="assets/image/img3.jpg" alt="" />
      <img src="assets/image/last.jpeg" alt="" />
      <img src="assets/image/img5.jpg" alt="" />
      <img src="assets/image/img6.jpg" alt="" />
      <img src="assets/image/last.jpeg" alt="" />
    </div>
    <!-- <button href="" class="cta-button-large">
      Bé muốn đi đâu thì click vào chọn nháaa
      <i class="fas fa-heart"></i>
    </button> -->
  </div>
</header>
<app-floating-hearts></app-floating-hearts>