/* Filename - App.css */
/* It containds the Form and Page Styling*/

body {
  background: #f3f3f3;
  text-align: center;
}

.app-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  transition: transform 0.2s;
  width: 500px;
  text-align: center;
}

h1 {
  font-size: x-large;
  text-align: center;
  color: #327c35;
}

input {
  display: block;
  width: 100%;
  /* margin-bottom: 15px; */
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 12px;
}

label {
  font-size: 15px;
  display: block;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 5px;
  text-align: left;
  color: #555;
  font-weight: bold;
}

button {
  padding: 15px;
  border-radius: 10px;
  margin: 15px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: #4caf50;
  width: 40%;
  font-size: 16px;
}